<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>604370164738-1rejn4vsvi2onnadjf32bg3up82omh8b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDqcSXixVeHi0buz2aV8R1NaK9FLEjE530</string>
	<key>GCM_SENDER_ID</key>
	<string>604370164738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.touna</string>
	<key>PROJECT_ID</key>
	<string>cenkirpall-afbe9</string>
	<key>STORAGE_BUCKET</key>
	<string>cenkirpall-afbe9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604370164738:ios:9450334f5c8181cb23db1b</string>
</dict>
</plist>